

div.comments {
  display: flex;
  flex-direction: column;

  p.comment {
    padding-bottom: 0.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid #d3d3d3;

    strong {
      margin-right: 5px
    }
  }
}

form.comment-form {
  input {
    width: 100%;
    border: 0;
    font-size: 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid #d3d3d3;
    outline: none;
  }
}