div.chela-list {
  max-width: 1000px;
  margin: 0 auto;
  column-count: 3;
  column-gap: 2rem; }
  div.chela-list:hover figure {
    opacity: 0.3; }
  div.chela-list figure {
    transition: .8s opacity; }
    div.chela-list figure:hover {
      opacity: 1; }
