/* Item component */
figure.chela-item {
  display: inline-block;
  width: 100%;
  margin: 0 0 2rem 0;
  padding: 0;
  border: 1px solid #d3d3d3;
  background: #fff;
  box-shadow: 0 0 0 5px rgba(0,0,0,0.03);

  div.image-wrapper {
    position: relative;

    img {
      width: 100%;
    }

    .likes-animation {
      background: url(https://emojipedia-us.s3.amazonaws.com/thumbs/120/microsoft/106/clinking-beer-mugs_1f37b.png) center no-repeat;
      background-size: contain;
      font-size: 1.2rem;
      padding: 1rem;
      position: absolute;
      color: #000000;
      left: 50%;
      top: 50%;
      pointer-events: none;

      opacity: 0;
      transition: all 0.5s;
      transform: translateX(-50%) translateY(-50%) scale(5);
      display: block;

      &.like-enter {
        transition: all 0.2s;
        transform: translateX(-50%) translateY(-50%) scale(1);
        opacity: 1;

        &.like-enter-active {
          transform: translateX(-50%) translateY(-50%) scale(5);
        }
      }

      &.like-leave-active {
        display: none;
      }
    }
  }

  figcaption.caption {
    margin: 0 2rem 2rem;

    div.actions {
      display: flex;
      justify-content: space-between;

      button, .button {
        border: 2px solid #f2f2f2;
        background: none;
        flex-basis: 48%;
        display: inline-block;
        line-height: 2;
        text-decoration: none;
        padding: 5px;
        text-align: center;
        color: #125688;
        transition: all 0.2s;
        box-sizing: border-box;

        &.likes {
          cursor: pointer;
        }
      }
    }
  }
}
